{% extends "mood/base.html" %}
{% block body_block %}
<div class="jumbotron">
    <h1 style="font-size:56px; color:rgb(4, 112, 236)">
        Welcome to MindJournal!
    </h1>

    <p style="font-size:48px">
        &#128515; &#128522; &#128578; &#128534; &#128533; &#128532; &#128545; &#128561;
    </p>
    
    <form method='POST' action="{% url 'mood:user_mood' %}">
        {% csrf_token %}
        <!-- {{form}} -->

        <div class="fieldWrapper">
            <label for="{{ form.date.id_for_label }}">Time: </label>
            {{ form.date }}
        </div>
        <hr>
        <div class="fieldWrapper">
            <label style="font-size: 42px; color:rgb(0, 153, 255)" for="{{ form.mood.id_for_label }}">What is your mood right now?</label>
            {{ form.mood }}
        </div>
        <hr>
        <div class="fieldWrapper">
            <label style="font-size: 42px; color:rgb(0, 153, 255)" for="{{ form.activity.id_for_label }}">What activity did you do? </label>
            {{ form.activity }}
        </div>
        <hr>
        <input type="submit" value="Done">
    </form>

</div>

{% endblock %}


