{% extends "mood/base.html" %}
{% block body_block %}
<div class="jumbotron">
    <h1>Welcome to MindJournal!</h1>
    <p style="font-size:48px">
        &#128512; &#128148; &#128578; &#128528; &#128533; &#128532; &#128564; &#128561;
    </p>
    
    <form method='POST' action="{% url 'mood:user_mood' %}">
        {% csrf_token %}
        <!-- {{form}} -->

        <div class="fieldWrapper">
            <label for="{{ form.date.id_for_label }}">Time: </label>
            {{ form.date }}
        </div>
        <hr>
        <div class="fieldWrapper">
            <label style="font-size: 50px; color:rgb(0, 153, 255)" for="{{ form.mood.id_for_label }}">How do you feel now?</label>
            {{ form.mood }}
        </div>
        <hr>
        <div class="fieldWrapper">
            <label style="font-size: 50px; color:rgb(0, 153, 255)" for="{{ form.activity.id_for_label }}">What did you do just now? </label>
            {{ form.activity }}
        </div>
        <hr>
        <input type="submit" value="Done">
    </form>

</div>

{% endblock %}


